$background-color-0: $background-color-6;
$background-color-1: $background-color-7;
$background-color-2: $background-color-8;
$background-color-3: $background-color-9;
$background-color-4: $background-color-10;
$background-color-5: $background-color-11;

$text-color-0: $text-color-1;

$background-image-0: $background-image-0;