$background-color-0: #486030;
$background-color-1: #609030;
$background-color-2: #909078;
$background-color-3: #F0D8A8;
$background-color-4: #F0D860;
$background-color-5: #C0C078;

$background-color-6: #7efc01;
$background-color-7: #000000;
$background-color-8: #ffff41;
$background-color-9: #ebab2c;
$background-color-10: #c5ad33;
$background-color-11: #fafaaf;

$text-color-0: #000000;
$text-color-1: #ffffff;

$background-image-0: linear-gradient(to right, #F0C018, #F0D848);